#include <windows.h>

1 ICON warun.ico
1 VERSIONINFO FILEVERSION 1,0,0,0 PRODUCTVERSION 1,0,0,0 FILEOS VOS__WINDOWS32 FILETYPE VFT_APP {
	BLOCK "StringFileInfo" {
		BLOCK "041103a4" {
			VALUE "FileDescription", "Sample novel game"
			VALUE "FileVersion", "1.0"
			VALUE "InternalName", "warun"
			VALUE "LegalCopyright", "kozok"
			VALUE "OriginalFilename", "warun"
			VALUE "ProductName", "WaruN"
			VALUE "ProductVersion", "1.0"
		}
	}

	BLOCK "VarFileInfo" {
		VALUE "Translation", 0x411, 932
	}
}
